
body {
padding: 10px 150px 10px 150px;  
}
#main_head {
  border: black solid 2px;
}

#box {
  border: black solid 2px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:grey;
  color: white;
  text-align: center;
}